#gameBody{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body{
  background-color: #222831;
  color: #EEEEEE;
}
  

canvas {
  background: black;
  border: 2px solid #00ADB5;  
}

.jatekInditas{
  background-color: #00ADB5;
  color:#222831;
}