#gameBody{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#jatekter{
  background-image: url(./images/background-pic.png);
  background-size: cover;
}

body{
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #1d2671, #c33764);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h1 {
  margin-bottom: 40px;
  font-size: 3em;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  padding: 15px 25px;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #00bfa5;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #009e8a;

}

canvas {
  background: black;
  border: 2px solid #00ADB5;  
}


#Characterbody {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #1d2671, #c33764);
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


#Characterbody h1 {
  margin-top: 40px;
  font-size: 48px;
  font-weight: bold;
}

.character-selection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character {
  width: 200px;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.character:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}

.character-name {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}